.btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2em;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#sidenav {
  width: 80%;
  max-width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #673ab7, #5e35b1);
  left: -300px;
  transition: left 0.35s;
}

ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.center {
  text-align: center;
}

.user {
  padding: 20px;
  position: relative;
}

.user img {
  width: 150px;
  border-radius: 50%;
}

.user p {
  color: #eee;
  padding: 10px 0;
}

.divider {
  padding: 0;
  height: 1px;
  background: #7e57c2;
}

.title {
  color: #b39ddb;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 20px;
  padding-bottom: 10px;
}

.item {
  background: transparent;
  transition: background 0.35s;
}

.item a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 20px;
  padding-left: 30px;
  width: 100%;
}

.item.active,
.item:hover {
  background: rgba(0, 0, 0, 0.1);
}

#sidenav:target {
  left: 0;
}

.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  left: 100%;
  top: 0;
  /* z-index: -1; */
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}
