* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* background: rgba(104, 172, 236, 0.993); */
  background: #333;
  /* display: flex; */
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

#link-back {
  margin: 0;
  width: 150px;
  background: rgb(255, 217, 0);
  padding: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
}
.information {
  border: 2px solid rgb(255, 217, 0);
  display: flex;
  flex-direction: column;
  margin: 40px 60px 30px 60px;
  padding: 10px;
  font-family: "Bangers", cursive;
  /* color: rgb(255, 221, 31); */
  /* height: 300px; */
}

#title {
  background: lightcoral;
  width: 260px;
}

.timer-cont {
  display: inline-flex;
  margin-bottom: 60px;
}

#chronos {
  background: rgb(255, 217, 0);
  width: 80px;
  margin: 0;
}

.timer {
  margin: 0;
}

.move-cont {
  display: inline-flex;
  margin: 0;
}

#attempts {
  background: rgb(255, 217, 0);
  width: 145px;
  margin-left: 0;
}

.moves {
  margin-left: 0;
}

.memory-game {
  border: 2px solid rgb(255, 217, 0);
  background: rgba(254, 255, 181, 0.993);
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  margin: 40px 0 0 0;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #1c7ccc;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
