#menu {
  position: fixed;
  left: -100px;
}

#menu:target {
  left: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(173, 166, 166);
  left: 100%;
  top: 0;
  z-index: -1;
}

#menu:target + .overlay {
  left: 0;
}
