* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

/* Header */

header {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  padding: 1rem;
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

#main-links {
  display: inline-flex;
}

.btn {
  padding: 1rem 0 1rem 2rem;
}

li {
  list-style: none;
  padding: 1rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

iframe {
  margin-top: 50px;
  margin-right: 100px;
}

h1 {
  margin: 3rem;
  text-align: left;
  font-size: 2.5rem;
}

/* Utility Classes */
.primary-span {
  background: lightcoral;
}

.secondary-span {
  background: #aff1da;
}

#sidenav {
  width: 80%;
  max-width: 190px;
  height: 100%;
  position: fixed;
  top: 88px;
  background: rgba(249, 234, 143, 0.98);
  left: -350px;
  transition: left 0.35s;
  z-index: 2;
}

#sidenav:target {
  left: 0;
}

.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(228, 221, 129, 0.3);
  left: 100%;
  top: 0;
  z-index: 1;
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}

/* About */
.about-par {
  padding-top: 30px;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
}

/* Activities */
.act-desc {
  padding: 1rem;
  width: 100%;
}

.cont-act {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin: 0 150px 0 150px;
  position: relative;
  /* width: 100%; */
}

.card {
  width: 300px;
  height: 200px;
  background: rgba(249, 234, 143, 1);
  /* position: relative; */
  text-align: center;
  cursor: pointer;
}

.img-card {
  padding-top: 10px;
}
