@import "variables";

// Style the base document
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  // display: block;
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

/* Header */

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  min-height: 80px;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  // padding: 1rem;
  // background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

#main-links {
  display: inline-flex;
  margin: auto 2% auto auto;
  justify-content: space-between;
}

.btn {
  padding: 1rem 0 1rem 2rem;
  margin: auto auto auto 0;
}

li {
  list-style: none;
  padding: 1rem;
  &:hover {
    // background: $red-back;
    border-radius: 15%;
    text-decoration: underline 5px $red-back;
  }
}

/* Utility Classes */
.primary-span {
  background: lightcoral;
}

.secondary-span {
  background: #aff1da;
}

.text-center {
  text-align: center;
}

// Sidenav
#sidenav {
  width: 80%;
  max-width: 190px;
  height: 100%;
  position: fixed;
  top: 80px;
  background: rgba(249, 234, 143, 0.98);
  left: -350px;
  transition: left 0.35s;
  z-index: 10;
}

#sidenav:target {
  left: 0;
}

// Overlay generated over the entire page. Clicking on this grey translucent area closes the sidenav
.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(228, 221, 129, 0.3);
  left: 100%;
  top: 0;
  z-index: 8;
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}

.item:hover {
  background: $primary-color;
  cursor: pointer;
}

.nav-link {
  display: block;
  // position: absolute;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.item {
  display: block;
}

/* Styling of the Activities page */

footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#wrap-all {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
  background: ivory;
  h1 {
    margin-top: 4rem;
  }
}

.cont-act {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  // // margin: 0 60px 0 50px;
  width: 100%;
  #card {
    width: 300px;
    height: 200px;
    margin-top: 4rem;
    background: rgba(249, 234, 143, 1);
    //position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 7px 5px rgba(122, 122, 122, 0.356);
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }
}

/* @media (min-width: 1126px) {
  .cont-act {
    position: absolute;
    min-height: 550px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 0 60px 0 50px;
    width: 100%; 
    padding: 50px;
  }
  #card {
    width: 300px;
    height: 200px;
    background: rgba(249, 234, 143, 1);
    //position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 7px 5px rgba(122, 122, 122, 0.356);
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }
}

@media (max-width: 1125px) {
  .cont-act {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 0 60px 0 50px;
    // position: relative;
    /* width: 100%; 
    // padding: 50px;
  }
  #card {
    width: 300px;
    height: 200px;
    background: rgba(249, 234, 143, 1);
    // position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 7px 5px rgba(122, 122, 122, 0.356);
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }
}

@media (max-width: 674px) {
  #card {
    width: 270px;
    height: 200px;
    background: rgba(249, 234, 143, 1);
    // position: relative; 
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 7px 5px rgba(122, 122, 122, 0.356);
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }
  .cont-act {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 0 60px 0 50px;
    position: relative;
    width: 100%; 
    padding: 50px;
  }
}
*/

.img-card {
  padding-top: 10px;
}

.act-desc {
  padding: 1rem;
  width: 100%;
}

#esto {
  max-width: 50%;
  display: block;
  height: auto;
  margin: auto;
}
