@import "variables";

a {
  text-decoration: none;
}

#container {
  position: absolute;
  display: block;
  min-height: 720px;
  height: calc(100% - 80px);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(270deg, #f9ea8f 0%, #aff1da 74%);
}

#main-footer {
  color: black !important;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.form-wrap {
  border: solid #666;
  background: #ddd;
  margin: auto;
  color: #333;
  max-width: 400px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  padding-left: 10px;
  padding-right: 10px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  background-color: #49c1a2;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: white;
}

.form-wrap button:hover {
  color: #37a08e;
  cursor: pointer;
  background: $red-back;
  color: pink;
}
.form-wrap .bottom-text {
  font-size: 0.85em;
}

textarea {
  width: 335px;
  height: 200px;
}
