@import "variables";

// Style the base document
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: lightseagreen;
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

/* Header */

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  min-height: 80px;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  // padding: 1rem;
  // background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

#main-links {
  display: inline-flex;
  margin: auto 2% auto auto;
  justify-content: space-between;
}

.btn {
  padding: 1rem 0 1rem 2rem;
  margin: auto auto auto 0;
}

li {
  list-style: none;
  padding: 1rem;
  &:hover {
    // background: $red-back;
    border-radius: 15%;
    text-decoration: underline 5px $red-back;
  }
}

/* Utility Classes */
.primary-span {
  background: lightcoral;
}

.secondary-span {
  background: #aff1da;
}

.text-center {
  text-align: center;
}

// Sidenav
#sidenav {
  width: 80%;
  max-width: 190px;
  height: 100%;
  position: fixed;
  top: 80px;
  background: rgba(249, 234, 143, 0.98);
  left: -350px;
  transition: left 0.35s;
  z-index: 10;
}

#sidenav:target {
  left: 0;
}

// Overlay generated over the entire page. Clicking on this grey translucent area closes the sidenav
.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(228, 221, 129, 0.3);
  left: 100%;
  top: 0;
  z-index: 8;
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}

.item:hover {
  background: $primary-color;
  cursor: pointer;
}

.nav-link {
  display: block;
  // position: absolute;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.item {
  display: block;
}

/* Stylin of the main container and its contens */

.main-container {
  border: solid #333;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  top: 8rem;
  left: 25rem;
  width: 50%;
  height: 400px;
  touch-action: none;
  user-select: none;
}

.fillings {
  display: flex;
  justify-content: space-evenly;
  touch-action: none;
  user-select: none;
}

.filling {
  font-weight: 400;
  width: max-content;
  border-radius: 3px;
  background: rgb(226, 27, 233);
}

/* Dragging and Dropping classes*/

#inner-dropzone {
  height: 200px;
  width: 100%;
  border: solid yellow;
}

.dropzone {
  // background-color: rgb(226, 27, 233);
  border: dashed 4px transparent;
  border-radius: 4px;
  // margin: 10px auto 30px;
  // padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.can-drop {
  background: yellow;
}
