@import "variables";

// Style the base document
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  // display: block;
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

/* Header */

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  min-height: 80px;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  // padding: 1rem;
  // background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

#main-links {
  display: inline-flex;
  margin: auto 2% auto auto;
  justify-content: space-between;
}

.btn {
  padding: 1rem 0 1rem 2rem;
  margin: auto auto auto 0;
}

li {
  list-style: none;
  padding: 1rem;
  &:hover {
    // background: $red-back;
    border-radius: 15%;
    text-decoration: underline 5px $red-back;
  }
}

/* Utility Classes */
.primary-span {
  background: lightcoral;
}

.secondary-span {
  background: #aff1da;
}

.text-center {
  text-align: center;
}

// Sidenav
#sidenav {
  width: 80%;
  max-width: 190px;
  height: 100%;
  position: fixed;
  top: 80px;
  background: rgba(249, 234, 143, 0.98);
  left: -350px;
  transition: left 0.35s;
  z-index: 10;
}

#sidenav:target {
  left: 0;
}

// Overlay generated over the entire page. Clicking on this grey translucent area closes the sidenav
.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(228, 221, 129, 0.3);
  left: 100%;
  top: 0;
  z-index: 8;
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}

.item:hover {
  background: $primary-color;
  cursor: pointer;
}

.nav-link {
  display: block;
  // position: absolute;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.item {
  display: block;
}

/* Title*/
#link-to-activities {
  position: absolute;
  background: $green-back;
  border-radius: 0.5em;
  padding: 0.7em;
  left: 3em;
  top: 30em;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  min-height: 650px;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
}

.drag-and-drop {
  width: 100%;
}

h1 {
  margin: 3rem;
  text-align: left;
  font-size: 2em;
}
#page-description {
  margin: 3rem;
  text-align: left;
  font-size: 1.3rem;
}

/* Styling of the list of links to each sentence filler task*/

.cont-puzzles {
  p {
    text-align: left;
    font-size: 2.5rem;
  }
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  a:nth-child(odd) {
    background-color: $secondary-color;
  }
  a:nth-child(even) {
    background-color: $primary-color;
  }
  margin: 48px;
  a:hover {
    background-color: $red-back;
  }
}

/* Footer Styling*/

#build-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
