@import "variables";

// Style the base document
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  // display: block;
}

a {
  text-decoration: none;
  color: #000;
  z-index: 9;
}

/* Header */

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  min-height: 80px;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  // padding: 1rem;
  // background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

#beta {
  margin: auto;
  &:after {
    content: "BETA";
    font-family: "Rubik Mono One", sans-serif;
    background: ivory;
    padding: 0 0.5em 0 0.5em;
  }
}

#main-links {
  display: inline-flex;
  margin: auto 2% auto auto;
  justify-content: space-between;
}

.btn {
  padding: 1rem 0 1rem 2rem;
  margin: auto auto auto 0;
}

li {
  list-style: none;
  padding: 1rem;
  &:hover {
    // background: $red-back;
    border-radius: 15%;
    text-decoration: underline 5px $red-back;
  }
}

// Main body of the home page
.main-content {
  display: flex;
  justify-content: space-between;
  min-height: 550px;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
  background: ivory;
}

h1 {
  margin: 3rem;
  text-align: left;
  font-size: 2.5rem;
}

/* Footer */

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}
// Youtube embedded video
@media only screen and (max-width: 499px) {
  .main-content {
    iframe {
      display: none;
    }
  }

  // .titles {
  //   h1 {
  //     text-align: center;
  //   }
  // }
}

@media only screen and (min-width: 1020px) {
  iframe {
    width: 720px;
    height: 420px;
    margin-top: 50px;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 500px) {
  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    iframe {
      width: 420px;
      height: 250px;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    iframe {
      width: 600px;
      height: 350px;
      margin: auto;
    }
  }

  .titles {
    margin: auto;

    padding: 0;
    margin: 0;
    h1 {
      text-align: center;
    }
  }
}

/* Utility Classes */
.primary-span {
  background: lightcoral;
}

.secondary-span {
  background: #aff1da;
}

.text-center {
  text-align: center;
}

// Sidenav
#sidenav {
  width: 80%;
  max-width: 190px;
  height: 100%;
  position: fixed;
  top: 80px;
  background: rgba(249, 234, 143, 0.98);
  left: -350px;
  transition: left 0.35s;
  z-index: 10;
}

#sidenav:target {
  left: 0;
}

// Overlay generated over the entire page. Clicking on this grey translucent area closes the sidenav
.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(228, 221, 129, 0.3);
  left: 100%;
  top: 0;
  z-index: 8;
  cursor: default;
}

#sidenav:target + .sidenav-overlay {
  left: 0;
}

.item:hover {
  background: $primary-color;
  cursor: pointer;
}

.nav-link {
  display: block;
  // position: absolute;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.item {
  display: block;
}

// Pages diffetent to home page: About, Contact, Activities, Sentence Builders and Puzzles

/* About */
.about-par {
  padding-top: 30px;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
}

.page-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 550px;
  height: calc(100% - 80px);
  width: 100%;
  position: absolute;
  background-image: linear-gradient(270deg, #f9ea8f 0%, #aff1da 74%);
}

/* Styling of Sentence Builders */

#link-to-builders {
  // position: relative;
  // top: 2px;
  // left: 0;
  // color: #333;
  // padding: 3px;
  // margin-top: 0;
  // background: #f9ea8f;
  position: absolute;
  background: $green-back;
  border-radius: 0.5em;
  padding: 0.7em;
  left: 22.3em;
  top: 9em;
  color: #fff;
}

.description {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 1126px) {
  .contain-builders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 1125px) {
  .contain-builders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 0 60px 0 50px;
  }
}

@media (max-width: 674px) {
  .contain-builders {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: auto;
  }
}

.contain-builders {
  padding-bottom: 3rem;
  margin-top: 10px;
  width: 100%;
  min-height: 800px;
  h2 {
    font-weight: lighter;
  }
  a {
    width: 300px;
    height: 300px;
    border: solid;
  }
  .img-build {
    width: 200px;
    height: 230px;
    padding-top: 20px;
  }

  h2:nth-child(odd) {
    background: $primary-color;
  }
  h2:nth-child(even) {
    background: $secondary-color;
  }
}

.wrap-main {
  display: flex;
  position: relative;
  width: 100%;
}
#build-footer {
  position: absolute;
  width: 100%;
  bottom: 15px;
}

// Memory games
.main {
  p {
    margin: 3rem;
    text-align: left;
    font-size: 1.3rem;
  }
}
.cont-puzzles {
  p {
    text-align: left;
    font-size: 2.5rem;
  }
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  a:nth-child(odd) {
    background-color: $secondary-color;
  }
  a:nth-child(even) {
    background-color: $primary-color;
  }
  margin: 48px;
  a:hover {
    background-color: $red-back;
  }
}
